%ae-row-icon{
  background-image: url("rows.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

%ae-column-icon{
  background-image: url("column.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

%ae-x-axis-icon{
  background-image: url("xAxis.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

%ae-y-axis-icon{
  background-image: url("yAxis.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

%ae-filter-icon{
  background-image: url("filter.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
