$functional-violet: #4237b8;
$functional_violet_medium: #96b1d8;
$functional_violet_light: #b6c8e3;
$functional_blue_medium: #8ac4e8;
$functional_blue_light: #b6d2e3;
$functional_teal: #00819e;
$functional_teal_medium: #7dd4e8;
$functional_teal_light: #b6dbe3;
$functional_green: #009d95;
$functional_green_medium: #85daca;
$functional_green_light: #b6e4db;
$pale-grey: #f7f9fa;
$decorative_lilac: #dee8fb;
$decorative_blue: #e0f9ff;
$decorative_cyan: #ccffff;
$decorative_green: #f5fef5;
$decorative_beige: #f7f5e9;
$base_dark: #1a1a1a;
$black_rus: #A1A3AA;
$base_gray: #aaacb2;
$steel_dark: #546a80;
$report-title: #00819E;
$functional_actions: #52a3f1;
$base_medium: #859eb4;
$border_gray: #f0f0f0;
$seashell_grey: #F1F1F1;
$border_blue: #eff4f8;
$notification_light_green: #F0F9F7;
$functional_yellow: #face5b;
$functional_red: rgba(237,
84,
84,
0.97);
$blue-grey: #5f768c;
$peacock-blue: #00619e;
$dodger-blue:#2F80ED;
$scroll_gray: #D8D8D8;
$plain_white: #ffffff;
$disabled_grey: #888888;
$label_color:#45566D;
$cyan-bluish: #EDF2F6;
$dark_black: #000000;
$dark_grayish_blue: #5C6476;
$empty_state_blue:#4B8BB5;
$cyan-blue:#475a6c;
$alice-blue: #f6fafe;
$white-smoke: #F2F2F2;
$black-russian: #5C6475;
$seal-brown:#E7ECEC;
$dark_cobalt_blue: #596F8C;
$close_image: "./img/Close.png";
$white: rgb(255,
255,
255);
$black: rgba(0,
0,
0,
1);
$gray-05a: rgba(0,
0,
0,
0.05);
$gray-08a: rgba(0,
0,
0,
0.08);
$gray-1a: rgba(0,
0,
0,
0.1);
$gray-2a: rgba(0,
0,
0,
0.2);
$gray-3a: rgba(0,
0,
0,
0.3);
$gray-4a: rgba(0,
0,
0,
0.4);
$gray-5a: rgba(0,
0,
0,
0.5);
$gray-6a: rgba(0,
0,
0,
0.6);
$gray-7a: rgba(0,
0,
0,
0.7);
$border: rgb(239,
244,
248);
//============= Brand Colors Section =============
$ae-brand-pale-cyan-blue: #bbe1fa;
$ae-brand-picton-blue: #8ac4e8;
$ae-brand-strong-cyan-blue: #4b8bb5;
$ae-brand-cerulean-blue: #00619e;
// ============= Secondary Colors =============
$ae-secondary-vivid-cyan-blue: #0090ea;
$ae-secondary-light-green-cyan: #85daca;
$ae-secondary-summer-blue: #7dd4e8;
$ae-secondary-light-grayish-cyan: #b6c8e3;
// ============= Grayscale Colors =============
$ae-gray-cyanish-white: #f7f9fa;
$ae-gray-light-bluish-gray: #d6d7da;
$ae-gray-bluish-gray: #aaacb2;
$ae-gray-dark-grayish-blue: #5c6476;
$ae-gray-desaturated-cyan-blue: #78899b;
$ae-gray-22: #383838;
$ae-gray-nero: #1a1a1a;
$ae-gray-border: #E7ECEC;
$ae-gray-border-light:#EFF4F8;
//============= Valiations Colors =============
$ae-validation-fail: #ed1818;
$ae-validation-success: #09b47b;
$ae-validation-info: #b6e4db;
$ae-hover-light-blue: #4db0ef;
$ae-disabled-gray: #f0f0f0;
