@import "~aera-react-library/dist/styles/common";
.ant-btn {
  font-family: $default-font-family;
  border-radius: 3px;
  height: 28px;
  min-width: 100px;
  font-size: $font-size-medium;
}

.ant-btn-primary {
  color: #fff;
  background-color: $primary1;
  border-color: $primary1;

  &:hover,
  &:focus {
    background-color: $primary2;
    border-color: $primary2;
  }
}

.ant-btn-primary[disabled] {
  background-color: $grey7;
  border-color: $grey7;
}
