@import '~aera-react-library/dist/styles/common';

.number-filter-container {
  font-family: $default-font-family;

  .ant-page-header {
    padding: 0 0 16px;
    font-family: $default-font-family;

    .ant-page-header-title-view-extra {
      position: absolute;
      top: 3px;
      right: 0px;
    }
  }
}
